@{
    ViewData["Title"] = "Informacje dodatkowe";
}
<h2>@ViewData["Title"]</h2>

<p>Projetk indywidualny realizowany na 4 semestrze informatyki na wydziale Elektrycznym Politechniki Warszawskiej</p>
