@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="jumbotron">
        <h1>Zaplanuj swój semestr tak jak chcesz</h1>
        <p>Jeśli chcesz dostosować swój plan na Usiosie do swoich potrzeb to jestś we właściwym miejscu.</p>
        <p><a class="btn btn-primary btn-lg" asp-controller="Plan" asp-action="Index" role="button">Wczytaj plan</a></p>
    </div>
</div>

<div class="container">
    <h2>Opis aplikacji</h2>
    <p>Ta aplikacja pozwoli Ci na łatwe wgranie plaku z systemy Usos oraz wizualizację wyboru poszczególnych grób przedmiotowych.</p>
</div>
