@model UsosLink
@{
    ViewData["Title"] = "Wczytanie planu";
}

@section Head
{
    <link rel="stylesheet" href="~/css/loader.css" />
}

<div class="row">
    <div class="col-sm-12">
        <h2>Wczytanie planu semestralnego z USOSa</h2>

        <h3>Wklej poniżej link do swojego planu</h3>
        @using (Html.BeginForm("LoadPlan", "Plan"))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.Link)
                @Html.EditorFor(m => m.Link, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Link, "", new { @class = "text-danger" })
            </div>
            <button id="submit" type="submit" class="btn btn-primary" style="margin-right: 1%">Wczytaj plan</button>

            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#additionalInfo" aria-expanded="false" aria-controls="additionalInfo">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </button>
        }
    </div>

</div>

<div id="loaderSpot"></div>

<div class="row collapse" id="additionalInfo" style="margin-top: 2%">
    <div class="col-sm-12">
        <div class="well">
            <h3>O jaki link chodzi</h3>
            <p>Potrzebny jest odnośnik do planu przedstawiającego rozkład wszyskich przedmiotów i grup na wybrany semestr.</p>
            <a href="https://usosweb.uw.edu.pl/kontroler.php?_action=katalog2/przedmioty/pokazPlanGrupyPrzedmiotow&grupa_kod=1900-1GF21&cdyd_kod=2019Z&plan_showSettings=1&plan_showStartTime=1&plan_showEndTime=1&plan_showTypeShort=1&plan_showTypeFull=0&plan_showGroupNumber=1&plan_showCourseName=1&plan_showCourseCode=0&plan_showRoom=1&plan_showBuildingCode=1&plan_showLecturers=1&plan_overridePrintWidth=1&plan_format=gif&plan_colorScheme=default">Przykładowy plan</a>

            <h3>Gdzie szukać linku do planu?</h3>
            <p>Odnośnik do planu może być zamieszczony na stronie Twojego wydziału.</p>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            document.getElementById("submit").addEventListener("click", showLoader);
        });

        function showLoader() {
            let loader = createLoader();

            let container = document.getElementById("loaderSpot");
            clearChildren(container);

            document.getElementById("loaderSpot").appendChild(loader);
        }

        function createLoader() {
            let loader = document.createElement("div");
            loader.id = "preloader";

            let innerLoader = document.createElement("div");
            innerLoader.id = "loader";

            loader.appendChild(innerLoader);

            return loader;
        }

        function clearChildren(element) {
            while (element.lastChild) {
                element.removeChild(element.lastChild);
            }
        }
    </script>
}
